.main{
  animation: welcome 0.5s ease-in;
}

@keyframes welcome {
  0%{
    height: 0vh;
  }
  25%{
    height: 100vh;
    box-shadow: inset  0px -50px 40px rgba(15, 105, 240, 0.5);
  }
  50%{
    height: 92vh;
    
  }
  100%{
    opacity: 100vh;
  }
}